.useful__grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(504px, 1fr));
    gap: 24px;
}
@media screen and (max-width: 500px){
    .useful__grid-box{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 15px;
    }
}
@media screen and (max-width: 412px){
    .useful__grid-box{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }
}