.program {
    padding: 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 764px) {
    .program:nth-of-type(2) {
        padding-right: 24px;
    }
}

@media screen and (max-width: 480px) {
    .program {
        justify-content: center;
        align-items: center;
    }
}

