.values__value-item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 8px 40px 0;
}

@media screen and (max-width: 480px) {
    .values__value-item {
        max-width: 295px;
        margin: 0 0 40px;
    }

    .values__value-item:last-child {
        margin-bottom: 0;
    }
}