.values__value-item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 42px 40px 0;
}

.values__value-item:nth-of-type(5) {
    margin-bottom: 0;
    margin-right: 118px;
}

.values__value-item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1018px) {
    .values__value-item:nth-of-type(4) {
        margin-right: 42px;
    }
    .values__value-item:nth-of-type(5) {
        margin-right: 42px;
    }
}

@media screen and (max-width: 480px) {
    .values__value-item {
        margin: 0;
        margin-bottom: 30px;
    }

    .values__value-item:last-child{
        margin-bottom: 0;
    }

    .values__value-item:nth-of-type(4){
        margin-right: 0;
   }

    .values__value-item:nth-of-type(5){
         margin-right: 0;
         margin-bottom: 40px;
    }
}