.subscribe__input {
    border-radius: 56px;
    border: none;
    padding: 0;
    width: 328px;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    background-image: url(../../../images/subscribe__email.svg);
    background-repeat: no-repeat;
    background-size: 165px, 20px;
    background-position-x: 32px;
    background-position-y: center;
}

@media screen and (max-width: 767px) {
    .subscribe__input {
        width: 327px;
        height: 56px;
    }
  }