.form__front-side-card {
  background-color: #F8F8F8;
  border: 0;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  grid-column: 1/3;
  grid-row: 1/3;
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(6%,24px) minmax(30%,123px) minmax(50%,185px) minmax(8%, 32px);
  grid-template-rows: 160px 18px 9px 56px 24px;
}