.program__title {
    margin: 0 0 24px;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    max-width: 550px;
}

@media screen and (max-width: 897px) {
    .program__title {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 480px) {
    .program__title {
        font-size: 30px;
    }
}