.footer__contacts {
    list-style: none;
    display: flex;
    justify-content:end;
    align-items: center;
    height: 79px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #000;
    border-top: 0.5px solid #000;
}