.blog__main-card{
    background-image: url('../../../images/main-card.svg');
    width: 680px;
    grid-column: 1/span 2;
}
@media screen and (max-width:680px){
    .blog__main-card{
        display: none;
    }
}