.menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
	gap: 32px;
}

@media screen and (max-width: 767px) {
	.menu__list {
		position: relative;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		gap: 0;
		box-sizing: content-box;
	}

	.menu__list.transformation {
		transform: translateX(-100%);
		transition: all 0.3s ease-out;
	}
}