.slider-hero__item_school {
  background: url(../../../../images/slider-hero-school.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}