.help__card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .help__card-title {
    font-size: 22px;
    line-height: 33px;
    margin-top: 40px;
  }
}
