.subscribe__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .subscribe__title {
        line-height: 25px;
    }
  }