.program__text {
    margin: 0 0 56px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 465px;
}

@media screen and (max-width: 897px) {
    .program__text {
        margin-bottom: 32px;
        font-size: 14px
    }
}

@media screen and (max-width: 750px) {
    .program__text {
        font-size: 12px
    }
}


@media screen and (max-width: 639px) {
    .program__text {
        font-size: 16px;
    }
}