.form__container_type_card {
  display: grid;
  grid-template-columns: minmax(30%, 183px) minmax(30%, 181px) minmax(30%, 188px);
  grid-template-rows:29px 232px 6px;
}

@media screen and (max-width: 890px) {
  .form__container_type_card {
    grid-template-columns: 4% 46% 46% 4%;
    grid-template-rows: 160px 107px 52px;
    background-color: #F8F8F8;
    }
}

