.programs__title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    /* identical to box height, or 114% */

    text-align: center;

    /* Black / 10 */

    color: #000000;
    margin: 0 0 56px;
}

@media screen and (max-width: 480px) {
    .programs__title {
        font-size: 32px;
        line-height: 44px;
    }
}