.form__item_el_cvc {
  width: 80%;
  max-width: 64px;
  height: 48px;
  grid-column: 2;
  grid-row: 3/4;
}

@media screen and (max-width: 890px) {  
  .form__item_el_cvc {
    grid-column: 1;
    grid-row: 2;
    background-color: #fff;
  }


