.form__to-be-paid {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 92px;
  grid-column: 3;
  grid-row: 3;
}

@media screen and (max-width: 890px) {  
  .form__to-be-paid {
    grid-column: 2;
    grid-row: 5;
  }
}