.language__english {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.4;
  text-decoration: none;
}

@media screen and (max-width: 1208px) {
	.language__english {
    font-size: 11px;
	}
}

@media screen and (max-width: 975px) {
	.language__english {
    font-size: 8px;
	}
}

@media screen and (max-width: 767px) {
	.language__english {
    color: #000;
    font-size: 22px;
    line-height: 36px;
	}
}