.values__title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    text-align: center;
    margin: 96px 0 56px;
}

@media screen and (max-width: 480px) {
    .values__title {
        font-size: 32px;
        line-height: 44px;
        margin: 56px 0 24px;
    }
}

