.feedback {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: 296px auto 0;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .feedback {
    flex-direction: column;
    width: 375px;
    margin: 68px auto 0;
  }
}
