.activities__item_philanthropy {
  background: #528CBE;
  margin-top: -42px;
  margin-left: 212px;
  max-width: 416px;
  max-height: 163px;
}

@media screen and (max-width: 1040px) {
  .activities__item_philanthropy {
    margin-left: 150px;
  }
}

@media screen and (max-width: 840px) {
  .activities__item_philanthropy {
    margin-left: 100px;
    max-width: 320px;
    max-height: 125px;
  }
}

@media screen and (max-width: 690px) {
  .activities__item_philanthropy {
    margin-left: 50px;
    margin-top: -20px;
    max-width: 250px;
    max-height: 100px;
  }
}

@media screen and (max-width: 500px) {
  .activities__item_philanthropy {
    z-index: 9;
    margin-left: 28px;
    margin-top: -6px;
    max-width: 283px;
    max-height: 103px;
  }
}