.form__fieldset-heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
}

@media screen and (max-width: 510px) {
    .form__fieldset-heading  {
        font-size: 12px;
        line-height: 20px;
    }
}