.contacts__email {
  font-weight: 400;
  font-size: 46px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 16px;
  color: #71bbca;
}

@media screen and (max-width: 767px) {
  .contacts__email {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
  }
}
