.dropdown-list__program-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6px;
  line-height: 120%;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.6;
}