.subscribe {
  display: flex;
  flex-direction: row;
  height: 216px;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
  gap: 18px;
  min-width: 375px;
}

@media screen and (max-width: 767px) {
  .subscribe {
    flex-direction: column;
    height: 443px;
    max-width: 768px;
    margin: 0 auto;
  }
}
