.blog{
    margin: auto;
    align-items: center;
    max-width: 1032px;
}
@media screen  and (max-width: 1033px){
    .blog{
        max-width: 688px;
    }
}
@media screen and (max-width:680px){
    .blog{
        max-width: 688px;
        position: relative;
    }
}