.feedback__textarea {
  background: #f8f8f8;
  border-radius: 26px;
  border: none;
  outline: none;
  width: 678px;
  height: 161px;
  margin-bottom: 24px;
  padding: 0;
  resize: none;
}
.feedback__textarea::placeholder {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .feedback__textarea {
    width: 327px;
    height: 161px;
    margin: 0 auto 16px;
  }
}
.feedback__textarea::-webkit-input-placeholder {
  line-height: 50px
}
.feedback__textarea::-moz-placeholder          {line-height: 50px}/* Firefox 19+ */
.feedback__textarea:-moz-placeholder           {line-height: 50px}/* Firefox 18- */
.feedback__textarea:-ms-input-placeholder      {line-height: 50px}