.useful__link{
    font-family: 'Berlin Type';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-decoration: none;
    color: #000000;
    padding-bottom: 69px;
    cursor: pointer;
}
@media screen and (max-width: 500px){
    .useful__link{
        padding-bottom: 81px;
    }
}