.menu {
  margin: 18px 58px 18px 58px;
  padding: 0;
  max-width: 638px;
}

@media screen and (max-width: 1160px) {
	.menu {
		max-width: 600px;
    margin-right: 40px;
	}
}

@media screen and (max-width: 1072px) {
	.menu {
		max-width: 550px;
	}
}

@media screen and (max-width: 874px) {
	.menu {
		max-width: 450px;
    margin-left: 38px;
		margin-right: 30px;
	}
}

@media screen and (max-width: 767px) {
	.menu {
		display: flex;
		max-width: 767px;
		height: 100vh;
		background-color: #fff;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		padding: 0;
		transform: translateY(-400vw);
		overflow-x: hidden;
		overflow-y: auto;
		flex-direction: column;
	}
}
